# Collaborative-Based

## Load the data

In [2]:
import pandas as pd

In [5]:
ratings = pd.read_csv("data/ratings.csv")[["userId", "movieId", "rating"]]
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

## Create dataset

In [7]:
from surprise import dataset

ModuleNotFoundError: No module named 'surprise'